<nav class="navbar navbar-dark bg-primary text-light navbar-expand-sm p-2 px-4">

    <a href="/" class="navbar-brand">
    <h4>Image Gallary</h4>
    </a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a href="" class="nav-link active">Home</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link">Images</a>
        </li>
        <li class="nav-item"><a href="" class="nav-link">About</a>
        </li>
    </ul>

</nav>